* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: #222;
    overflow-x: hidden;
    margin: 0;
}
.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: tranform 0.5s linear;
}

.container.show-nav {
    transform: rotate(-20deg);
}
img  {
    /* width: 100%; Chiều rộng của hình ảnh */
    max-height: 300px; /* Giữ tỷ lệ của hình ảnh */
    border: 2px solid #000; /* Viền đen 2px */
    border-radius: 10px; /* Bo góc */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng */
}
.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transform:  0.5s linear;
}

.circle button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparents;
    border: 0;
    font-size: 26px;
    color: #fff;
}